<html>
<head>
<style type="text/css">
  
  body{

    background: #ee0979; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  *{

    text-align: center;
  }
</style>


 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">

<div class="jumbotron">
<h1>Node JS + Express JS framework + Raspberry PI with some electronic sensors or devices + Cloud.</h1>
</div>

<div style="color: white">
<h4>Using all the above we can build a complete web application that is deployed to a cloud.</h4>
<br>
 <h4>Using the application we can control the devices like lights from any where around the world. As this project is purely a <b>proof of concept</b> we've used certain electronic components considering all the parameters like complexity, compatability and most probably the price of the device. </h4>
<br>
<h4>The sensors like DH11 is used to detect the temperature and humidity around it.This type of sensors are usually used in the real world where temperature needs to be monitored throughout the whole day</h4>
<br>
<h4>With the Web app which is deployed to cloud we can monitor the values of the temperature in real time.</h4>
<br>
<h4>The web application is completely build using the latest technologies instead of using the old style LAMP stack. The app is build using the NODE JS,Express JS, MOngo DB.ALong with the IOT we are able to build apps based on the new stack</h4>
<br>
<h4>As quoted earlier this project is purely a PROOF OF CONCEPT. This is to prove that using the latest technologies one can control electronic components and can monitor the readings produced by the sensors from any where around the world in REAL TIME.</h4>
</div>



</div>
    
    </body>
</html>
