





<html>
    <head>
        
       
        
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">
    
    
    
    <style>
    
    h1,h2,h3,h4,h5,h6{
        
        color:white;
    }
    
    .btn {
        font-size:18px;
        font-weight:bold;
        width: 470;
        height:34px;
        background: #ee0979; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-style:none;
    }
    
    .form-group{
        
        
        color:white;
    }
    
    .input-group input{
        
        
    }
        
        .container {
     width: 500px;
   height: 500px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -250px;
   margin-top: -250px;
   text-align:center;
}

body{
    background: #ee0979; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

    </style>
    </head>
  <body>
      <div class='container'>
          
          <h2>Hey visitor register to enter into the system and monitor the data</h2>
         

      
    <form action="/register" method="post">
      <div class="form-group">
        <h4>Username</h4>
        <input type="text" class="form-control" name="username" placeholder="username" required />
        
      </div>
      <br/>
      <div class="form-group">
        <h4>Password</h4>
        <input type="password" class="form-control"  name="password" placeholder="password" required />
      </div>
      <br/>
      <div class="form-group">
        <h4>Email</h4>
        <input type="text" class="form-control" type="email" name="email" placeholder="email address" required/>
        
      </div>
      <br/>
      <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </form>
    </div>
  </body>
</html>